@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');



/* style cho tất cả các thẻ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* header */
/* right_sidebar */
#right_sidebar {
  background-color: #27294580;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
  padding-right: 50px;

}

.logoimg {
  object-fit: contain;
  display: block;
  justify-content: center;
  display: block;
  height: 66px;
  width: 156px;
}

.blind {
  position: absolute;
  /* display: inline-block; */
  height: 1px;
  width: 1px;
  border: 0;
  margin-left: -20px;
  font-size: 12px;
  color: white;
  margin-top: -50px;
}

#right_sidebar ul li {
  list-style: none;
  /* padding-right: 100px; */
}

.left_side {
  padding-right: 100px;
}

#right_sidebar ul {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
}

#right_sidebar a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.07 em;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  padding-left: 60px;
}



.menu_item {
  position: relative;
}

.link-inner {
  display: inline-block;
  line-height: normal;
}

#intro {
  width: 1686.25px;
  height: 3500px;
}


.index-visual {
  position: relative;
  margin: 0 auto;
  height: 700px;
}

.index-visual .slide {
  height: 100%;
  display: block;
}

.index-visual .slide video {
  height: 100%;
  position: absolute;
  width: 1686.25px;
}


.vid_btn {
  border: 2px solid #27294580;
}



.menu_item {
  position: relative;
}

.link-inner {
  display: inline-block;
  line-height: normal;
}


.news-wrapper {
  margin-bottom: 30px;
}

.tilte_news {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
}

.tilte_news .tit {
  text-align: center;
  background-color: #ebe7e0;
  margin-bottom: 80px;
  padding-bottom: 100px;
}

.tilte_news .tit span {
  padding-top: 120px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  columns: #333;
  letter-spacing: 0.15em;
}

.en-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;

}


.en-container item {
  background-color: #fff;
  position: relative;
}

.en-container a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.en-container .item_mainItem {
  height: 487.14px;
  width: 639.5px;
  border: 1px solid #eee;
  background-size: cover;
  background-repeat: no-repeat;
}

.item_mainItem .text {
  width: 100%;
  padding: 28px;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .85) 80%);
  padding-top: 380px;
}

.item_mainItem h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
}

.item_mainItem .text p {
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.item_subItem {
  border: 1px solid #eee;
  background-size: cover;
  background-repeat: no-repeat;
  height: 487.14px;
  width: 310px;
}

.en-container img {
  width: 100%;
  object-fit: cover;
  border-style: none;
  max-width: 100%;
}

.item_subItem h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
  color: #1b3b86;

}

.item_subItem p {
  font-family: 'Noto Sans KR', sans-serif;
}

.beside_news {
  width: 310px;
}

.en-container2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;

}


.en-container2 item {
  background-color: #fff;
  position: relative;
}

.en-container2 a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.en-container2 .item_mainItem2 {
  height: 487.14px;
  width: 639.5px;
  border: 1px solid #eee;
  background-size: cover;
  background-repeat: no-repeat;
}

.item_mainItem2 .text {
  width: 100%;
  padding: 28px;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .85) 80%);
  padding-top: 380px;
}

.item_mainItem2 h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
}

.item_mainItem2 .text p {
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 0;
  font-family: 'Noto Sans KR', sans-serif;

}

.item_subItem2 {
  border: 1px solid #eee;
  background-size: cover;
  background-repeat: no-repeat;
  height: 487.14px;
  width: 310px;
}

.en-container2 img {
  width: 100%;
  object-fit: cover;
  border-style: none;
  max-width: 100%;
}

.item_subItem2 h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
  color: #1b3b86;
}

.item_subItem2 p {
  font-family: 'Noto Sans KR', sans-serif;
}

.item_mainItem2 .text-2nd {
  width: 100%;
  padding: 28px;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .85) 80%);
  padding-top: 405px;
  background-repeat: no-repeat;
}

.item_mainItem2 .text-2nd p {
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 0;
  font-family: 'Noto Sans KR', sans-serif;

}

/* events */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 15px;
  width: 90vw;
  margin: 0 auto;
  box-shadow:
    0px 6px 6px 0px rgba(2, 25, 65, 0.08);
}

.event_row {
  margin-bottom: 30px;
  border-radius: 10px;
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.event_img {
  position: relative;
  z-index: 1;
  padding-right: 20px;
}

.event_img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  border-style: none;
}

.event_detail {
  padding: 29px 20px 20px 20px;
}

.event_detail h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #1f253d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.border-btn.border-btn2 {
  width: 100%;
  text-align: center;
  border: 1px solid #E2E4FF;
  color: #4255A4;
}

.border-btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: none;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 17px 42px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.border-btn:hover {
  background: #051246;
  color: white;
}

.event-more-btn {
  max-width: 100%;
}

.event-more-btn .more {
  margin-left: 1450px;
}


.event-more-btn .more .txt {
  display: inline-block;
  padding-right: 20px;
  font-weight: 700;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1b3b86;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* login/sign in tranfer */

.index-custom .index-custom-select > * {
  display: inline-block;
  vertical-align: middle;
  /* margin: 0; */
  font-size: 50px;
  color: #272945;
  font-weight: 500;
}


.index-custom{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 200px;
}

.index-custom .ly-inner{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.index-custom .index-custom-select {
  display: inline-block;
}

.index-custom .index-custom-select span {
  border-bottom: 10px solid #fff;
}


.index-custom .index-custom-select dl {
  position: relative;
  margin: 0 9px 0 25px;
}

.index-custom .index-custom-select .select_role {
  display: block;
  padding: 0 25px 5px 0;
  border-bottom: 5px solid #272945;
  text-decoration: none;
  font-size: 50px;
  color: #272945;
  font-weight: 500;
  padding-bottom: 10px;
  cursor: pointer;
}


.index-custom .sub_index-custom-select{
  display: none; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.sub_index-custom-select ul li{
  list-style: none;
}


.sub_index-custom-select a {
  color: white;
  font-size: 35px;
}


.select_role:hover .sub_index-custom-select {
  display: block;
  position: absolute;
  background-color: #272945;
  margin:10px;
  width: 480px;
  text-align: center;
  /* color: #fff; */
 
  
}

.index-custom .index-custom-select dl dd ul {
  padding: 0;
  margin: 14px 0;
}

.index-custom .index-custom-select dl dd ul li a {
  display: block;
  height: 40px;
  line-height: 70px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.index-custom .index-custom-select-cont {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 60px;
  min-height: 180px;
  display: none;
}

.index-custom .index-custom-select-cont a {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  margin: 2.5px 1.5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 19px;
  text-decoration: none;
  background-color: #272945;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
}
/* footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #27294580;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}

footer .about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .about .noidung {
  margin-right: 30px;
}

footer .about .footer__logo {
  width: 40%;
}

footer .about .noidung .footer__logo {
  position: relative;
  color: #f0eded;
  font-weight: 500;
  margin-bottom: 15px;
}

.about .noidung.footer__logo ::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgb(40, 25, 105);
}



.social-icon {
  margin-top: 20px;
  display: flex;
}

.social-icon li {
  list-style: none;
}

.social-icon li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #eedbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 10px;
  text-decoration: none;
}

.social-icon li a:hover {
  background: rgb(131, 108, 230);
}

.social-icon .li .i {
  color: #3d2626;
  font-size: 10px;
}

.link_about h2 {
  position: relative;
  color: #faf5f5;
  font-weight: 500;
  margin-bottom: 15px;
}

.link_about h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgb(72, 49, 177);
}

.link_about {
  position: relative;
  width: 25%;
}

.link_about ul li {
  list-style: none;
}

.link_about ul li a {
  color: #ebe9e9;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.link_about ul li a:hover {
  color: rgb(131, 108, 230);
}

.about_contact h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.about_contact h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgb(72, 49, 177);

}

.about_contact {
  width: calc(35%-60px);
  margin-right: 0;
}

.about_contact .infor {
  position: relative;
  display: flex;
  flex-direction: column;

}

.about_contact .infor li {
  display: flex;
  margin-bottom: 16px;
}

.about_contact .infor li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.about_contact .infor li span {
  color: #eee4e4;
}

.about_contact .infor li a {
  color: #f0e3e3;
  text-decoration: none;
  font-size: 14px;
}

.about_contact .infor li p {
  display: inline-block;
}